@import "./reset.css";
@import "./fonts/gilroy/stylesheet.css";

/* font-family: 'Work Sans', sans-serif; */
/* font-family: 'Gilroy', sans-serif; */

body{
    font-family: 'Gilroy', sans-serif; 
    font-weight: 500;
    
}


.container {
    max-width: 1750px;
    padding: 0 100px;
    margin: 0 auto;
}

.btn {
    position: relative;
    font-size: 20px;
    font-weight: 800;
    color: #114455;
    border: 1px solid #114455;
    border-radius: 2px;
    padding: 10px 24px;
    display:inline-block; 
    transition: background-color 0.5s ease-in, color 0.5s ease-in;
}

/*! *************/
.btn::after{
    content: url(./../img/arrow_right_black.svg);
    width: 32px;
    height: 32px;
    margin-left: 18px;
    
}

.btn:hover{
    color: #FFFFFF;
    background-color: #114455;
   
}

.btn:hover::after{
    content: url(./../img/arrow_right_white.svg);
   
}

.btn:active{
   
    top: 2px;
}

.btn_big {
    padding: 14px 32px;
}

.btn_dark {
    color: #FFFFFF;
    background: #114455;
}

.btn_dark::after{
    content: url(./../img/arrow_right_white.svg);
}

.btn_dark:hover{
    background-color: #06232c;
}



/* header */
.header {
    min-height: 100vh;  /*100vh - высота видимой части экрана*/
    background-color: #E1EDF2;
    background-image: url(./../img/header-bg.jpg);
    background-size: cover;
    background-position: center center;
}


.header__top {
    margin-bottom: 126px;
    padding: 44px 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    align-items: center;
    column-gap: 118px; 
}

.link {
    font-size: 20px;
    font-weight: 800;
    color: #114455;
}



.header__content {
    max-width: max-content;
}

.headr__title {
    max-width: 734px;
    font-weight: 800;
    font-size: 80px;
    color: #114455;
    margin-bottom: 48px;
}

.header__text {
    margin-bottom: 72px;
    font-size: 34px;
    color: #1F1F1F;
    opacity: 0.7;
}

.header__btn {

}
.btn {
}